/* navbar */
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar{
    padding: .9rem;
    background-color: darkgray;
    font-size: 1.1em;
        
}

.navbar-nav{
    align-items: center;
    display: flex;
}


.navigation form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 25px;
    background:  darkgray;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px darkgray;
    padding: 5px;
}

.navigation input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
}

.navigation form:hover,
.navigation form:valid{
    width: 200px;
    cursor: pointer;
}

.navigation form:hover input,
.navigation form:valid input{
    display: block;
}

.navigation form:hover .fa,
.navigation form:valid .fa{
    background: darkgray;
    color: black;
}


.navigation form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

.navigation form:valid a {
  display: block;
}
/* navbar */

/* landing page */

 #myCarousel1 .carousel-inner .carousel-item  {
  height: 38rem;
  background: darkgrey;
  color: white;
  background-position: center;
  background-size: cover;
}


 #myCarousel1 .carousel-inner .carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 150px;
}

 #myCarousel1 h1 {
  margin-top: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 1000;
  font-size: 3.4em;
  color: white;
  padding-bottom: 5px;
}


.color-overlay {
    width: 100%;
    height: 100%;
    background:black;
    opacity: .6;
    position: absolute;
}
/* landing page */

/* about */
.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

.about h2, .services h1, .project-carousel h3, .projects h1, .counter h1, .team h1, .gallery-heading h1, .client-heading h1, .contact h1, .testimony-heading h1 {
    font-family: 'Cormorant Garamond', serif;
}

.about p, .services p, .project-carousel, .projects p, .team p, .member p, .client-heading p, .contact-heading p, .contact p, .testimony-heading p {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.15em;
}
.about #btn, .member #btn, .gallery .button1 #btn {
    background:  darkgray;
    height: 50px;
    min-width: 10px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
  }

  .about .noselect, .projects .noselect, #myCarousel .noselect, #myCarousel1 .noselect, .member .noselect, .gallery .button1 .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  .about a, .member a, .gallery .button1 a {
    text-decoration: none;
    color: black;
    position: absolute;
    }
  
 .about #btn #circle, .projects #btn #circle, #myCarousel #btn #circle, #myCarousel1 #btn #circle, .member #btn #circle, .gallery .button1 #btn #circle{
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  
  .about #btn:hover, .projects #btn:hover, #myCarousel #btn:hover, #myCarousel1 #btn:hover, .member #btn:hover, .gallery .button1 #btn:hover{
    color: white;
    background: transparent;
  }
  
  .about #btn:hover #circle, .projects #btn:hover #circle, .member #btn:hover #circle, .gallery .button1 #btn:hover #circle{
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
  }
/* about */

/* Services */
.services .container-md, .projects .container-md, .counter .container-md, .team .container-md, .gallery-heading .container-md, .client-heading .container-md, .contact .container-md, .testimony-heading .container-md {
    text-align: center;
}

.services .container-md .row .col-md-3:hover{
  transform: scale(1.1);
}

.services .container-md .row .col-md-3:hover a{
  color: black;
}

.services .bi{
    font-size: 40px;
}

.services p {
    font-size: 20px;
}

.services a{
    color: #696969;
    text-decoration: none;
}

/* Services */

/* Projects */

.projects{
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  /* background-color: darkgray; */
}

.projects .container-fluid {
  text-align: center;
}

.projects .container-fluid img{
  height: 100%;
}

.projects h2 {
  margin-top: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.6em;
  color: black;
}

.projects p{
  font-family: 'Roboto', sans-serif; 
  font-size: 1.11em;
  color: black;
}

.projects a {
  text-decoration: none;
  color: black;
  position: absolute;
}

.projects #btn{
  background: darkgray;
  height: 50px;
  min-width: 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; 
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

.projects .container-fluid .row .col-12 .card{
  background: white;
}

.projects .container-fluid .row .col-12 .card .row .col-md-7 .card-body .card-text{
  font-size: 1.1em;
  display: block;
  text-align: start;
  color: black;
  margin-bottom: 5px;
}

#myCarousel .carousel-inner .carousel-item {
  height: 28rem;
  background: darkgrey;
  color: white;
  background-position: center;
  background-size: cover;
}

#myCarousel .carousel-inner .carousel-item .container {
  position: absolute;
  bottom: 0;
  left: 0.8;
  right: 0;
  padding-bottom: 50px;
}

#myCarousel h1 {
  margin-top: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.9em;
  color: white;
  padding-bottom: 5px;
}

#myCarousel p{
  font-family: 'Roboto', sans-serif; 
  font-size: 1.11em;
  color: white;
}

#myCarousel a, #myCarousel1 a  {
  text-decoration: none;
  color: black;
  position: absolute;
}

#myCarousel #btn, #myCarousel1 #btn{
  background: darkgray;
  height: 50px;
  min-width: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif; 
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#myCarousel #btn:hover a, #myCarousel1 #btn:hover a{
  color: white;
}

 #myCarousel #btn:hover #circle, #myCarousel1 #btn:hover #circle{
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid white;
  color: white;
}

/* counter */
.counter {
  padding-top: 80px;
  padding-bottom: 20px;
}
/* counter */

/* project counter */
.fullWidth {
  width: 100%;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.projectFactsWrap{
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: darkgrey;
}

.projectFactsWrap .item:nth-child(2){
  background: #7D7D7D;
}

.projectFactsWrap .item:nth-child(3){
  background: #9E9E9E;
}

.projectFactsWrap .item:nth-child(4){
  background: #696969;
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}


.projectFactsWrap .item span{
  width: 60px;
  background: black;
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: black;
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}
/* project counter */

/* team */
.member .row .col-md-4 .card .card-body{
  text-align: center;
}

.member h4, .contactForm h2{
  font-family: 'Roboto', sans-serif; 
  font-weight: 500;
}
/* team */

/* clients */
.client-heading{
  padding-bottom: 0;
}

.clients .row {
  overflow: hidden;
}  

.slick-slide {
  margin: 0px 20px;
}

.logo-carousel {
  overflow: inherit;
}

.slick-slide img {
  width: 100%;
  filter: grayscale(100%);
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}
   

/* clients */


/* gallery */
.gallery {
  width: auto;
  height: auto;
}

.gallery .image{
  width: 33.33%;
  overflow:hidden;
  height: fit-content;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
.gallery .image img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

.gallery .image:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
}

@media only screen and (max-width: 900px) {
  .gallery .image {
        width: 100%;
    }
}
@media only screen and (max-width: 400px) {
  .gallery .image {
        width: 100%;
    }
}
/* gallery */

/* testimony */
.testimonials .carousel{
  height: 25rem;
}
.testimonials .carousel-inner img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid darkgray;
  padding: 5px;
}

.testimonials span{
  color: black;
  padding-top: 15px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500
}

.testimonials h4{
  font-family: 'Roboto', sans-serif; 
}

.testimonials p{
  margin-left: 18%;
  margin-right: 18%;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif; 
}

@media (max-width: 991px){
  .testimonials p{
    margin-left: 5%;
    margin-right: 5%;
  }
  .testimonials .carousel{
    height: 30rem;
  }
}
/* testimony */

/* contact */
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: darkgray;
}

.contact .content{
  max-width: 800px;
  text-align: center;

}

.contact h2{
  font-family: 'Roboto', sans-serif;  
}

.contact .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; 
}

.container .contactInfo .box .text p{
  font-family: 'Roboto', sans-serif; 
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}


.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; 
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #696969;
}

.contactForm .inputBox input:focus ~ span,.contactForm .inputBox input:valid ~ span, .contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span{
  color: black;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: darkgray;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif; 
}

@media (max-width: 991px){
  .contact{
    padding: 5px;
  }

  .contact .container{
    flex-direction: column;
  }

  .contact .container .contactInfo, .contact .container .contactForm{
    margin-bottom: 40px;
    width: 100%;
  }

  .container .contactInfo .box{
    padding: 5px;
  }

  .contact h1{
    padding-top: 50px;  
  }

}
/* contact */








